<input
        type="checkbox"
        value="<%= ctrl.props.name %>"
        id="<%-ctrl.props.id%>"
        <%- include('../../attributes/common/no_control_base_attributes', {ctrl : ctrl}) %>
/>
<label for="<%-ctrl.props.id%>">Click me</label>
